---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import MapSection from '../components/MapSection.astro'
import Prices from '../components/Prices.astro'
import Whatsapp from '@/components/Whatsapp.astro'
---

<Layout title='Destapaciones Mecanicas'>
  <main class='relative'>
    <Hero />
    <About />
    <MapSection />
    <Prices />
    <Whatsapp />
  </main>
</Layout>
