---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import MapSection from '../components/MapSection.astro'
import Footer from '../components/Footer.astro'
import Prices from '../components/Prices.astro'
---

<Layout title='Destapaciones Mecanicas'>
  <main>
    <Hero />
    <About />
    <MapSection />
    <Prices />
    <Footer />
  </main>
</Layout>
