---
import ClockIcon from '@/icons/clock-icon.astro'
import style from '@/animations/reveal.module.css'
import { Image } from 'astro:assets'
import aboutImage from '@/assets/destapacion-de-cañeria-2.webp'
import icon from '@/assets/icon-penn.svg'
import AboutInfo from './AboutInfo.astro'
---

<section class='sm:px-20 px-10 mt-20 flex'>
  <article
    class={`${style.reveal} bg-stone-300 p-7 grid sm:grid-cols-2 rounded-xl`}
  >
    <picture class='sm:order-1 order-2'>
      <Image
        loading='lazy'
        src={aboutImage}
        alt='Destapacion de cañeria'
        title='Destapaciones de cañerias'
        class='rounded-lg grayscale-[20%] h-[350px] w-[550px] object-cover'
      />
    </picture>
    <AboutInfo />
  </article>
</section>
