---
import ClockIcon from '@/icons/clock-icon.astro'
import { Image } from 'astro:assets'
import icon from '@/assets/icon-penn.svg'
---

<div
  class='sm:pl-10 text-pretty font-primary flex flex-col justify-around gap-y-7 sm:order-2 order-1'
>
  <!-- Title -->
  <div class='flex gap-x-5 items-center w-full'>
    <Image
      loading='lazy'
      src={icon}
      alt='Icono informativo'
      title='icono descriptivo'
      class='sm:size-10 sm:flex hidden'
    />
    <h2 class='sm:text-[1.7rem] text-[1.5rem] font-medium'>
      Servicio rapido y eficiente
    </h2>
  </div>
  <!-- Text -->
  <p
    class='font-text max-w-[95%] text-wrap sm:text-[1rem] text-[0.9rem] text-black font-light'
  >
    Contamos con el mejor servicio de <strong class='font-medium'
      >Destapaciones</strong
    > . Nuestra empresa se destaca por trabajar con la última tecnología para realizar
    todo tipo de destapaciones, a través de <strong class='font-medium'
      >profesionales certificados</strong
    > y altamente calificados.
  </p>
  <!-- Subtitle -->
  <div class='flex items-center gap-x-3'>
    <ClockIcon />
    <h3 class='sm:text-2xl text-[1.2rem] font-semibold flex gap-x-3'>
      <span>Urgencias</span>
      <span>24 horas</span>
    </h3>
  </div>
</div>
