---
import Form from './Form.astro'
import { FOOTER_DATA } from '@/constants/footer-contact.astro'
---

<footer
  id='contacto'
  class='bg-neutral-900 rounded-t-xl mt-20 min-h-[50vh] grid sm:grid-cols-2 sm:px-20 px-10 py-10 gap-y-14'
>
  <Form />
  <article class='font-primary flex flex-col gap-y-7 sm:order-2 order-1'>
    <h2
      class='text-neutral-100 sm:text-desktop-subtitle text-mobile-subtitle font-medium'
    >
      Destapaciones Mecanicas Romero
    </h2>
    <h3 class='text-neutral-400 text-pretty text-lg font-text'>
      No dudes en realizarnos tu consulta, coordinar una visita o cotizar un
      presupuesto.
    </h3>
    <nav class='flex flex-col gap-y-7 mt-2' aria-label='footer navigation'>
      {
        FOOTER_DATA.map((item) => (
          <button class='list-none flex items-center gap-x-3 w-fit hover:scale-110 hover:-translate-y-1 transition-all duration-300'>
            <item.icon class='size-6 text-neutral-300' />
            <span class='text-neutral-100 text-[16px]'>{item.value}</span>
          </button>
        ))
      }
    </nav>
  </article>
</footer>
