---
import HourIcon from '@/icons/24hs-icon.astro'
---

<header
  class='font-secondary z-10 fixed w-full sm:px-20 px-3 py-3 flex justify-between items-center'
>
  <div class='flex items-start sm:gap-x-3 gap-x-1'>
    <a href='#home' class='font-semibold tracking-widest sm:text-[16px] text-sm'
      >DMR</a
    >
    <HourIcon />
  </div>
  <nav
    class='flex items-center sm:gap-x-7 gap-x-3 font-semibold opacity-90 sm:text-[12px] text-[9px] uppercase'
  >
    <a href='#servicios'>servicios</a>
    <a href='#contacto'>Contacto</a>
  </nav>
</header>
<style>
  a {
    @apply hover:scale-105 transition-all duration-300;
  }
  header {
    animation: header linear both;
    animation-timeline: scroll(root);
    animation-range: 1% 10%;
  }

  @keyframes header {
    to {
      @apply pt-4 backdrop-blur-[10px] bg-neutral-100/80;
    }
  }
</style>
