<header
  class='font-secondary bg-neutral-100 z-10 fixed w-full sm:px-20 px-10 py-3 flex justify-between items-center'
>
  <a href='#home' class='font-semibold tracking-widest'>DMR</a>
  <nav
    class='flex items-center sm:gap-x-7 gap-x-5 font-semibold opacity-90 sm:text-[12px] text-[11px] uppercase'
  >
    <a href='#trabajos'>servicios</a>
    <a href='#contacto'>Contacto</a>
  </nav>
</header>
<style>
  a {
    @apply hover:scale-105 transition-all duration-300;
  }
</style>
