<header
  class='bg-neutral-100 z-10 fixed w-full px-20 py-3 flex justify-between items-center'
>
  <a href='#home' class='font-secondary font-semibold tracking-widest'>DMR</a>
  <nav
    class='flex items-center gap-x-7 font-secondary font-semibold opacity-90 text-[13px] uppercase'
  >
    <a href='#trabajos'>servicios</a>
    <a href='#contacto'>Contacto</a>
  </nav>
</header>
<style>
    a{
        @apply hover:scale-105 transition-all duration-300
    }
</style>