---
import { FOOTER_DATA } from '@/constants/footer-contact.astro'
import heroImage from '@/assets/destapacion-de-cañeria.webp'
---

<section
  id='home'
  class='sm:min-h-screen min-h-[95vh] w-full grid sm:grid-cols-2 gap-x-10 items-center sm:px-20 px-0 font-primary'
>
  <article
    class='sm:h-auto h-full flex flex-col items-start sm:justify-center justify-around sm:gap-y-14 sm:pt-0 pt-20'
  >
    <!-- Title -->
    <div class='flex flex-col text-center'>
      <h1 class='text-[2.7em] flex flex-col gap-1 font-medium'>
        Destapaciones Mecánicas
      </h1>
      <span class='text-[2.1em] uppercase tracking-widest'>Romero</span>
    </div>
    <!-- Text -->
    <p
      class='text-pretty sm:text-[18px] text-sm sm:max-w-[90%] w-full sm:px-0 px-7 font-medium text-neutral-900/90'
    >
      Somos una empresa familiar con más de <strong
        >15 años de experiencia</strong
      > en el rubro. Nos especializamos en <strong
        >Destapaciones Mecánicas</strong
      > , ya que contamos con las mejores herramientas del mercado para realizar
      nuestro trabajo de la mejor manera.
    </p>
    <!-- Nav -->
    <nav
      class='sm:px-0 px-7 flex sm:flex-row flex-col sm:justify-between justify-around items-start gap-y-7 sm:w-[90%] w-full'
      aria-label='hero navigation'
    >
      {
        FOOTER_DATA.map((item) => (
          <button class='flex items-center gap-x-3 w-fit hover:scale-105 hover:-translate-y-1 transition-all duration-300'>
            <item.icon class='sm:size-6 size-5 text-neutral-900' />
            <span class='text-neutral-900 sm:text-[16px] text-sm font-medium'>
              {item.value}
            </span>
          </button>
        ))
      }
    </nav>
  </article>
  <picture class='sm:flex hidden justify-end'>
    <img
      src={heroImage.src}
      alt='Destapacion de cañeria'
      title='Destapaciones de cañerias'
      width={heroImage.width}
      height={heroImage.height}
      class='object-cover rounded-lg shadow-xl shadow-stone-400 grayscale-[20%] h-[400px] w-[550px]'
    />
  </picture>
</section>
