---
import { FOOTER_DATA } from '../const/footer-contact.astro'
---

<section
  id='home'
  class='sm:min-h-screen min-h-[70vh] w-full grid sm:grid-cols-2 grid-cols-1 sm:px-20 px-10 font-primary'
>
  <article class='flex flex-col items-start sm:justify-center justify-around sm:gap-y-20 gap-y-10 sm:mt-0 mt-20'>
    <h1 class='text-[2.7em] flex flex-col gap-1'>
      <span class='font-medium'>Destapaciones Mecanicas</span>
      <span class='font-medium'>Romero</span>
    </h1>
    <p class='text-pretty max-w-[90%]'>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ipsa
      nemo itaque, saepe cum neque alias corrupti similique dolore unde est
      consequuntur expedita! Quaerat beatae nulla deserunt autem. Voluptas,
      minima.
    </p>
    <nav class='flex sm:flex-row flex-col gap-y-5 justify-around w-full'>
      {
        FOOTER_DATA.map((item) => (
          <button class='flex items-center gap-x-3 w-fit hover:scale-105 hover:-translate-y-1 transition-all duration-300'>
            <item.icon class='size-6 text-neutral-900' />
            <span class='text-neutral-900 text-[16px] font-medium'>
              {item.value}
            </span>
          </button>
        ))
      }
    </nav>
  </article>
  <picture class='sm:flex hidden items-center justify-end'>
    <img
      src='/images/hero-bg.jpg'
      alt='Imagen'
      class='object-cover w-[80%] h-[75%] rounded-lg shadow-xl shadow-stone-400 grayscale-[20%]'
    />
  </picture>
</section>
