---
import AsteriskIcon from '@/icons/asterisk-icon.astro'
import Map from './Map.astro'
import trabajos from '@/constants/trabajos.json'
import style from '@/animations/reveal.module.css'
---

<section class='grid sm:grid-cols-2 sm:px-20 px-5 mt-20 relative'>
  <article
    class={`${style.reveal} font-primary flex flex-col justify-around sm:pl-20 gap-y-10`}
  >
    <h2
      class='sm:text-desktop-subtitle text-mobile-subtitle font-medium sm:text-start text-center'
    >
      Trabajos en <strong>AMBA</strong> y
      <strong>CABA</strong>
    </h2>
    <ul class='flex flex-col gap-y-5 px-5'>
      {
        trabajos.map(({ title }) => (
          <li class='flex items-center gap-x-3 sm:text-[1.3rem] text-[1.2rem] font-medium text-neutral-800'>
            <AsteriskIcon />
            <span>{title}</span>
          </li>
        ))
      }
    </ul>
  </article>
  <Map />
</section>

