---
import PriceIcon from '@/icons/price-icon.astro'
import precios from '@/constants/precios.json'
import style from '@/animations/reveal.module.css'
---

<section class='sm:px-20 px-10 mt-20 font-primary flex flex-col gap-y-10'>
  <h2 class='text-3xl font-medium'>Los mejores precios del mercado</h2>
  <ul class='w-full flex flex-col gap-y-5'>
    {
      precios.map(({ name, value }) => (
        <li
          class={`${style.reveal} flex justify-between items-center sm:px-10 sm:text-xl border-b border-b-neutral-500 sm:pb-5 pb-10`}
        >
          <div class='flex gap-x-3 items-center '>
            <PriceIcon />
            <span>{name}</span>
          </div>
          <div class='flex gap-x-1 '>
            <span>$</span>
            <span>{value}</span>
          </div>
        </li>
      ))
    }
  </ul>
</section>
