---
import TelephoneIcon from '@/icons/telephone-icon.astro'
---

<a
  href='tel:+541122334455'
  aria-label='Realiza una consulta telefónica'
  class='z-30 fixed bottom-5 right-3 bg-[#FF0800] border-2 border-white shadow-lg shadow-neutral-900/40 rounded-full flex items-center justify-center p-[10px] hover:scale-105 hover:-translate-y-1 hover:shadow-neutral-900/70 transition-all duration-300'
>
  <TelephoneIcon class='size-[18px] text-white' />
</a>
